<%= render 'shared/header' %>

<div class="main">
  <div class="login-missing-message intro">
    <p >このアプリの使用にはTwitter連携が必須です。</p>
    <p >画面右上のボタンからTwitterにログインしてください。</p>
  </div>
</div>

<%= render 'shared/footer' %>
