.header{
  background-color: #00acee;
  color: #ffffff;
  margin: 0 auto 5px;
  min-height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow:0px 5px 5px -3px rgba(0,0,0,0.4) ;
  position: fixed;
  z-index: 2;
  top: 0;
}

.header-box{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu{
 width:30%;
 text-align: center;
}

.header-menu-list {
  padding: 3px 0;
}

.header-btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  cursor: pointer;
}

.header-btn:hover {
  border: dotted 1px #FFF;
}

.header-how{
  width:30%;
  text-align: center;
}

.howto-btn{
  background: #00c44b;
  box-shadow: 0px 0px 0px 5px #00c44b;
  cursor: pointer;
}

.header-title{
  display: flex;
  align-items: center;
}

.header-title img{
  height: 60px;
  object-fit: contain;
}

@media (max-width: 480px) {

  .header {
    position: static;
    padding-bottom: 15px;
  }

  .header-box {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header-title {
    order: 1;
    width: 100%;
    padding: 10px 0;
  }

  .header-title img {
    width: 100%;
  }

  .header-how {
    order: 2;
    width: fit-content;
    margin-bottom:5px ;
  }

  .header-menu {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header-menu ul {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu ul li {
    margin: 0 4px;
  }

}