<div class="footer">
  <ul class="footer-menu">
    <li><%= link_to '利用規約', home_terms_path %></li>
    <li>｜</li>
    <li><%= link_to 'プライバシーポリシー', home_policy_path %></li>
    <li>｜</li>
    <li><%= link_to '運営者', 'https://twitter.com/6jou3min',target: :_blank %></li>
  </ul>
  <p>© 2020 Shohey Takagi</p>
</div>