.hidden{
  display: none;
}

h1{
  font-size: 24px;
}

h2 {
  font-size: 23px;
  margin: 40px 0;
  position: relative;
  padding: 0.5em 0.5em 0.5em 1em;
  background: #00acee;
  color: white;
}

h2::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

h3 {
  margin: 15px 0 10px;
  color: #505050;
  padding: 0.5em;
  display: inline-block;
  line-height: 1.3;
  background: #dbebf8;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

h3:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

h4 {
  color: #6594e0;
  border-bottom: dashed 2px #6594e0;
  margin: 30px;
  font-size: 20px;
}

.main{
  padding-top: 140px;
}

.intro {
  position: relative;
  margin: 2em auto;
  padding: 15px 35px 15px 25px;
  width: 500px; /* ボックス幅 */
  background-color: #fff; /* ボックス背景色 */
  color: #555555; /* 文章色 */
  border: 1px solid #ccc; /* 枠線 */
  box-shadow: 1px 1px 1px #acacac; /* 影の色 */
 }

 .intro::before {
  position: absolute;
  content: '';
  top: -15px;
  right: 10px;
  height: 55px;
  width: 15px;
  border: 3px solid #555555; /*クリップ色 */
  background-color: none;
  border-radius: 12px;
  box-shadow: 1px 1px 2px #999;
  transform: rotate(10deg);
  z-index: 1;
 }

 .intro::after {
  position: absolute;
  content: '';
  top: 0px;
  width: 10px; 
  right: 20px;
  border: solid 5px #fff; /*背景色と同じ色にする*/
  z-index: 2;
 }

 .intro-btn-area{
   margin-top:20px ;
   text-align: center;
 }

.intro-btn {
  text-align: center;
  display: inline-block;
  padding: 1em 1.5em;
  text-decoration: none;
  background: #00acee;
  color: #FFF;
  border-bottom: solid 4px #0072ac;
  border-radius: 10px;
}
.intro-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.intro-btn-top{
  margin-bottom: 15px;
  font-weight: bold;
}

.intro-btn-botton{
  font-size: small;
}

textarea{
  resize: none;
}

.stack-wrapper{
  width: 640px;
  margin: 0 auto;
}

.stack-table{
  width: 90%;
  margin: 30px auto 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: 2px solid #0099e4; 
  color: #0099e4;
}

th {
  padding: 0 8px;
  line-height: 40px;
  text-align: center;
}

thead th.count {
  width: 140px;
}

thead th.today-stack{
  width: 160px;
}

 tbody td.count {
  text-align: center;
}

tbody tr td,
tbody tr th {
  border-bottom: 1px solid #ccc;
  padding: 15px 5px;
  vertical-align: middle;
}

tbody tr:hover td,
tbody tr:hover th {
  background: #f4fbff;
}

.stack-task-name{
  cursor: pointer;
}

.today-stack-field {
  width: 70px;
  border-bottom: 1px dotted #999;
}

.submit-btn {
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 0 8px;
  background: #00acee;
  color: #fff;
  cursor: pointer;
}

.task-form-area{
  width: 90%;
  margin: 30px auto;
}

.task-form-area .task_field{
  width: 60%;
  height: 2em;
  border: 1px solid #999;
  border-radius: 5px;
  padding-left: 0.5em;
}

.task-form-area .unit_field{
  width: 15%;
  height: 2em;
  border: 1px solid #999;
  border-radius: 5px;
  padding-left: 0.5em;
}

.tweet-area{
  width: 60%;
  margin: 0 auto;
}

.tweet-area p {
  text-align: center;
}

.tweet-sample{
  margin:2em 0;
  position: relative;
  padding: 20px;
  border: solid 2px #00acee;
  border-radius: 3px 0 3px 0;
}

.tweet-sample:before,.tweet-sample:after{
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px #00acee;
  border-radius: 50%;
}

.tweet-sample:after {
  top:-12px;
  left:-12px;
}

.tweet-sample:before {
  bottom:-12px;
  right:-12px;
}

.tweet-btn-area{
  text-align: center;
}

.tweet-btn{
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 0 8px;
  background: #00acee;
  color: #fff;
  cursor: pointer;
}
